<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        mode="side"
        [opened]="opened"
        class="sidenav"
        [fixedInViewport]="true"
    >
        <mat-toolbar>Fifty Admin</mat-toolbar>
        <side-menu (linkClick)="closeIfOver()"></side-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="fiftyGreen">
            <button mat-icon-button (click)="toggleSidebar()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <div class="content" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
