<mat-card>
    <h2>All Quizzes</h2>
    <button mat-raised-button color="primary" (click)="create()">
        <mat-icon>add</mat-icon>
        Create Quiz
    </button>
    <!-- Global filter -->
    <mat-form-field
        appearance="outline"
        style="width: 100%; margin-bottom: 1rem"
    >
        <mat-label>Search all</mat-label>
        <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Type to filter all columns..."
        />
    </mat-form-field>

    <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        style="width: 100%"
        matSort
    >
        <!-- Title Column -->
        <!-- Quiz Number Column -->
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
            <td mat-cell *matCellDef="let row">{{ row.number }}</td>
        </ng-container>

        <!-- Quiz Type Column -->
        <ng-container matColumnDef="quizType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let row">
                {{ getQuizTypeLabel(row.quizType) }}
            </td>
        </ng-container>

        <!-- Creation Time Column -->
        <ng-container matColumnDef="creationTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
            <td mat-cell *matCellDef="let row">
                {{ row.creationTime?.toDate() | date : "short" }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selectRow(row)"
            (dblclick)="goToDetails(row)"
            [class.selected]="selectedRow === row"
            style="cursor: pointer"
        ></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
    ></mat-paginator>
</mat-card>
