<div class="overlay"></div>

<mat-card class="scrollable-card">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h1 mb-0">Import Questions</h1>
        <button type="button" class="btn btn-outline btn-lg" (click)="cancel()">
            &times;
        </button>
    </div>

    <mat-tab-group>
        <!-- --- Plain Text Tab --- -->
        <mat-tab label="Plain Text">
            <div class="tab-content">
                <h4>Paste Questions and Answers</h4>
                <textarea
                    id="inputText"
                    rows="10"
                    [(ngModel)]="inputText"
                    placeholder="Question[TAB]Answer"
                ></textarea>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="importTextQuestions(inputText)"
                >
                    Import
                </button>
            </div>
        </mat-tab>

        <!-- --- Excel Tab --- -->
        <mat-tab label="Excel">
            <div class="tab-content">
                <h4>Import from Excel</h4>
                <input
                    type="file"
                    id="excelInput"
                    accept=".xlsx,.xls"
                    (change)="onExcelSelected($event)"
                />
            </div>
        </mat-tab>
        <mat-tab label="Google Sheets">
            <div class="tab-content">
                <h4>Extract from Google Sheets</h4>
                <h4>COMING SOON</h4>
                <!-- <div class="mb-2">
                    <label for="sheetIdInput">Sheet ID:</label>
                    <input
                        id="sheetIdInput"
                        type="text"
                        [(ngModel)]="googleSheetId"
                        placeholder="Enter Google Sheet ID"
                        class="form-control"
                    />
                </div>

                <div class="mb-2">
                    <label for="tabNameInput">Tab Name:</label>
                    <input
                        id="tabNameInput"
                        type="text"
                        [(ngModel)]="googleTabName"
                        placeholder="Enter Tab Name"
                        class="form-control"
                    />
                </div> -->

                <!-- <button
                    mat-raised-button
                    color="primary"
                    (click)="
                        importFromGoogleSheets(googleSheetId, googleTabName)
                    "
                >
                    Import from Google Sheets
                </button> -->
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>
