<mat-card>
    <!-- Top action buttons -->
    <div class="top-bar d-flex justify-content-between align-items-center">
        <div class="title h5 mb-0">Quiz {{ id }}</div>

        <div class="action-bar">
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="form.invalid"
                (click)="saveQuiz()"
                class="me-2"
            >
                Save
            </button>
            <button
                mat-stroked-button
                color="warn"
                type="button"
                (click)="cancel()"
            >
                Cancel
            </button>
        </div>
    </div>

    <!-- Core Quiz Info -->
    <form [formGroup]="form" class="form">
        <div class="container">
            <div class="row justify-content-start g-3">
                <!-- Quiz Number -->
                <div class="col-6 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Quiz Number</mat-label>
                        <input
                            matInput
                            type="number"
                            formControlName="number"
                            required
                        />
                    </mat-form-field>
                </div>
                <!-- Number of Questions -->
                <!-- <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Number of Questions</mat-label>
                        <input
                            matInput
                            type="number"
                            formControlName="questionCount"
                            required
                            min="0"
                        />
                    </mat-form-field>
                </div> -->
                <!-- Quiz Type -->
                <div class="col-6 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Quiz Type</mat-label>
                        <mat-select formControlName="quizType">
                            <mat-option
                                *ngFor="let type of quizType"
                                [value]="type.value"
                            >
                                {{ type.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Deployment Date -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Deployment Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            formControlName="deploymentDate"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- Deployment Time -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Deployment Time</mat-label>
                        <input
                            matInput
                            [matTimepicker]="timepicker"
                            formControlName="deploymentTime"
                        />
                        <mat-timepicker-toggle
                            [for]="timepicker"
                            matSuffix
                        ></mat-timepicker-toggle>
                        <mat-timepicker #timepicker></mat-timepicker>
                    </mat-form-field>
                </div>
                <!-- Premium Checkbox -->
                <div class="col-6 col-md-3 col-lg-2 d-flex align-items-center">
                    <mat-checkbox formControlName="isPremium"
                        >Premium</mat-checkbox
                    >
                </div>
                <!-- Active Checkbox -->
                <div class="col-6 col-md-3 col-lg-2 d-flex align-items-center">
                    <mat-checkbox formControlName="isActive"
                        >Active</mat-checkbox
                    >
                </div>
            </div>
        </div>

        <!-- Tabs -->
        <mat-tab-group class="tabGroup mt-4">
            <!-- Questions Tab -->
            <mat-tab label="Questions">
                <div formArrayName="questions" class="container py-3">
                    <div
                        cdkDropList
                        (cdkDropListDropped)="drop($event)"
                        class="question-list row g-3"
                    >
                        <div
                            *ngFor="let q of questions.controls; let i = index"
                            cdkDrag
                            [formGroupName]="i"
                            class="question-row col-12"
                        >
                            <mat-card class="p-3 d-flex align-items-start">
                                <!-- Drag handle icon -->
                                <div cdkDragHandle class="drag-handle me-3">
                                    <mat-icon>drag_indicator</mat-icon>
                                </div>

                                <!-- Question and Answer editor -->
                                <div class="questionAndAnswer flex-grow-1">
                                    <div class="d-flex align-items-center mb-2">
                                        <span
                                            class="question-number fw-bold me-2"
                                            >{{ i + 1 }}.</span
                                        >
                                    </div>
                                    <div class="qa-field mb-3">
                                        <quill-editor
                                            formControlName="question"
                                            [modules]="quillModules"
                                        ></quill-editor>
                                    </div>
                                    <div class="qa-field">
                                        <quill-editor
                                            formControlName="answer"
                                            [modules]="quillModules"
                                        ></quill-editor>
                                    </div>
                                </div>

                                <!-- Delete button -->
                                <button
                                    mat-icon-button
                                    color="warn"
                                    type="button"
                                    (click)="removeQuestion(i)"
                                    class="ms-3 align-self-start"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <!-- Color Scheme Tab -->
            <mat-tab label="Color Scheme">
                <div class="container py-3" formGroupName="theme">
                    <div class="row g-3">
                        <div class="col-12 col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Font Color</mat-label>
                                <input
                                    matInput
                                    type="color"
                                    formControlName="fontColor"
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Background Color</mat-label>
                                <input
                                    matInput
                                    type="color"
                                    formControlName="backgroundColor"
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Tertiary Color</mat-label>
                                <input
                                    matInput
                                    type="color"
                                    formControlName="tertiaryColor"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <!-- Other Tab -->
            <mat-tab label="Other">
                <div class="container py-3">
                    <div class="row justify-content-start g-3">
                        <div class="col-12 col-md-12 col-lg-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Text Above Quiz</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    formControlName="notesAbove"
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Text Below Quiz</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    formControlName="notesAbove"
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Sponsor</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    formControlName="sponsor"
                                />
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-12 col-lg-12">
                            <label for="imageUpload">Upload Image:</label>
                            <input
                                id="imageUpload"
                                type="file"
                                (change)="onImageSelected($event)"
                            />
                            <div *ngIf="imagePreview">
                                <img
                                    [src]="imagePreview"
                                    alt="Preview"
                                    width="150"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</mat-card>
