<div>
    <mat-accordion hideToggle="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span *ngIf="currentAnswer == null" class="dot"></span>
                    <span
                        *ngIf="currentAnswer != null"
                        class="dot space"
                    ></span>
                    <span style="font-weight: bold">{{ num }}.</span>
                    <quill-view
                        [content]="title"
                        theme="bubble"
                        format="html"
                        class="quill-readonly"
                    ></quill-view>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="answerSection">
                <quill-view
                    [content]="answer"
                    theme="bubble"
                    format="html"
                    class="answerText quill-readonly"
                ></quill-view>
                <div class="answer-buttons">
                    <button
                        mat-raised-button
                        color="primary"
                        [class.selected]="currentAnswer === true"
                        (click)="selectAnswer(true)"
                    >
                        Correct
                    </button>
                    <button
                        mat-raised-button
                        color="warn"
                        [class.selected]="currentAnswer === false"
                        (click)="selectAnswer(false)"
                    >
                        Incorrect
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
