:root[class*='app-dark'] {
    --surface-ground: #282828;
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --fifty-border: #4cfbab;
    --accent-green: #4cfbab; /* normal green */
    --accent-green-contrast: #282828; /* optional, text on green */
}
