/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';



/* 🔥 Custom brand overrides */
:root {
  --primary-color: #677c73;      /* exact primary */
  --primary-color-text: #ffffff; /* text on primary */
  --highlight-bg: #282828;       /* secondary/accent */
  --highlight-text-color: #ffffff;

  --fifty-green: #677c73;
  --fifty-pink: #fbe2df;
  --fifty-neon-green: #4cfbab;
}

:root[class*='app-dark'] {
  --primary-color: #4cfbab;      /* exact primary */
  --primary-color-text: #ffffff; /* text on primary */
  --highlight-bg: #282828;       /* secondary/accent */
  --highlight-text-color: #ffffff;
}


  // --green: #4cfbab;
  //       --black: #282828;
  //       --pink: #fbe2df !important;

html{
  background-color: #677c73;
}

/* Google Maps Places Autocomplete dropdown */
.pac-container {
  z-index: 100000 !important;
}