/* You can add global styles to this file, and also import other style files */

/* :root {
    --backgroundColor: #677c73;
    --textColor: #fbe2df;
    --tertiaryColor: #4cfbab;
    --font: Helvetica, Arial, sans-serif;
    }

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: var(--textColor);
    background-color: var(--backgroundColor);
}

.mat-accordion{
    background-color: transparent;
    color: inherit;
} */
