/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./app/shared/themes/app_theme-colors.scss";
// :root {
//     --backgroundColor: #677c73;
//     --textColor: #fbe2df;
//     --tertiaryColor: #4cfbab;
//     --font: Helvetica, Arial, sans-serif;
//     }

html {
    @include mat.theme(
        (
            color: (
                primary: app_theme-colors.$primary-palette,
                tertiary: app_theme-colors.$tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

:root {
    @include mat.expansion-overrides(
        (
            header-hover-state-layer-color: transparent,
        )
    );
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
