<!-- <mat-card class="row" style="height: 90vh">
    <app-dashboard></app-dashboard>
</mat-card> -->

<mat-card class="row">
    <!-- <div class="top-bar d-flex justify-content-between align-items-center">
        <div class="charts">
            <ag-charts
                style="height: 100%"
                [options]="userAccessChart"
            ></ag-charts>
            <ag-charts
                style="height: 100%"
                [options]="pageViewsChart"
            ></ag-charts>
        </div>
    </div> -->
</mat-card>

<h2>Fifty+ Quizzes</h2>
<swiper-container
    slides-per-view="4"
    navigation="true"
    loop="true"
    style="width: 100%; height: 300px"
>
    <swiper-slide *ngFor="let logo of quizLogos">
        <img
            [src]="logo"
            alt="Quiz Logo"
            style="height: 100%; object-fit: contain"
        />
    </swiper-slide>
</swiper-container>
