<mat-card class="row" style="height: 90vh">
    <app-dashboard></app-dashboard>
</mat-card>

<mat-card class="row" style="height: 90vh">
    <!-- <div class="top-bar d-flex justify-content-between align-items-center">
        <div class="charts">
            <ag-charts
                style="height: 100%"
                [options]="userAccessChart"
            ></ag-charts>
            <ag-charts
                style="height: 100%"
                [options]="pageViewsChart"
            ></ag-charts>
        </div>
    </div> -->
</mat-card>
